<!-- menu website menu page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    
   
    <%- include('./partials/nav.ejs') %>


    <main>
        <section class="abt">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="wrapper">
                            <h2>Our Menu</h2>
                            <ol>
                                <li>Home<i class="flaticon-right-arrow"></i></li>
                                <li>Our Menu</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    
<!-- MENU SECTION -->



<section class="menu-items">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading">
                    <h4>Our Menu</h4>
                    <h2>Explore Our Best Menu</h2>
                    <p>From classic favorites to innovative and contemporary dishes, Our menu is no exception to creating an unforgettable unwind experience. At éRiaa, you'll find a diverse selection of delicious food and drink options to satisfy any craving.</p>
                </div>
            </div>
            <div class="col-12">
                <div class="wrapper">
                   <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
                       <li class="nav-item">
                           <a class="nav-link active" id="cooked-items" data-toggle="tab" href="#cooked" role="tab" aria-controls="all" aria-selected="true">Cooked</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" id="grilled-items" data-toggle="tab" href="#grilled" role="tab" aria-controls="profile" aria-selected="false">Grilled</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" id="baked-items" data-toggle="tab" href="#baked" role="tab" aria-controls="contact" aria-selected="false">Baked</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" id="desserts-item" data-toggle="tab" href="#desserts" role="tab" aria-controls="contact" aria-selected="false">Desserts</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" id="beverage-item" data-toggle="tab" href="#beverage" role="tab" aria-controls="contact" aria-selected="false">Beverages</a>
                       </li>
                   </ul>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="cooked" role="tabpanel" aria-labelledby="cooked-items">
                            <div class="row" id="cooked-menu-items">
                                <% categories.Cooked.forEach(function(menu) { %>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 menu-item" id="sec-meal">
                                        <figure>
                                            <div class="images">
                                                <img src="<%= menu.image.url %>" alt="Menu Image" width="350" height="250">
                                            </div>
                                            <div class="content">
                                                <h4 class="menu-name"><%= menu.name %> <span>CA$<%= menu.price %></span></h4>
                                                
            
                                                <p class="menu-description"><%= menu.description %></p>
                                                
                                                <button class="add-to-cart" data-name="<%= menu.name %>" data-price="<%= menu.price %>">Add to Cart</button>
                                            </div>
                                        </figure>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
    
                        <div class="tab-pane fade" id="grilled" role="tabpanel" aria-labelledby="grilled-items">
                            <div class="row" id="grilled-menu-items">
                                <% categories.Grilled.forEach(function(menu) { %>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 menu-item" id="sec-meal">
                                        <figure>
                                            <div class="images">
                                                <img src="<%= menu.image.url %>" alt="Menu Image" width="350" height="250">
                                            </div>
                                            <div class="content">
                                                <h4 class="menu-name"><%= menu.name %> <span>CA$<%= menu.price %></span></h4>
                                                <p class="menu-description"><%= menu.description %></p>
                                                <button class="add-to-cart" data-name="<%= menu.name %>" data-price="<%= menu.price %>">Add to Cart</button>
                                            </div>
                                        </figure>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
    
                        <div class="tab-pane fade" id="baked" role="tabpanel" aria-labelledby="baked-items">
                            <div class="row" id="baked-menu-items">
                                <% categories.Baked.forEach(function(menu) { %>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 menu-item" id="sec-meal">
                                        <figure>
                                            <div class="images">
                                                <img src="<%= menu.image.url %>" alt="Menu Image" width="350" height="250">
                                            </div>
                                            <div class="content">
                                                <h4 class="menu-name"><%= menu.name %> <span>CA$<%= menu.price %></span></h4>
                                                <p class="menu-description"><%= menu.description %></p>
                                                <button class="add-to-cart" data-name="<%= menu.name %>" data-price="<%= menu.price %>">Add to Cart</button>
                                            </div>
                                        </figure>
                                    </div>       
                                <% }) %>
                            </div>
                        </div>
    
                        <div class="tab-pane fade" id="desserts" role="tabpanel" aria-labelledby="desserts-item">
                            <div class="row" id="desserts-menu-items">
                                <% categories.Desserts.forEach(function(menu) { %>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" id="sec-meal">
                                        <figure>
                                            <div class="images">
                                                <img src="<%= menu.image.url %>" alt="Menu Image" width="350" height="250">
                                            </div>
                                            <div class="content">
                                                <h4 class="menu-name"><%= menu.name %> <span>CA$<%= menu.price %></span></h4>
                                                <p class="menu-description"><%= menu.description %></p>
                                                <button class="add-to-cart" data-name="<%= menu.name %>" data-price="<%= menu.price %>">Add to Cart</button>
                                            </div>
                                        </figure>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
    
                        <div class="tab-pane fade" id="beverage" role="tabpanel" aria-labelledby="beverage-item">
                            <div class="row" id="beverage-menu-items">
                                <% categories.Beverages.forEach(function(menu) { %>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" id="sec-meal">
                                        <figure>
                                            <div class="images">
                                                <img src="<%= menu.image.url %>" alt="Menu Image" width="350" height="250">
                                            </div>
                                            <div class="content">
                                                <h4 class="menu-name"><%= menu.name %> <span>CA$<%= menu.price %></span></h4>
                                                <p class="menu-description"><%= menu.description %></p>
                                                <button class="add-to-cart" data-name="<%= menu.name %>" data-price="<%= menu.price %>">Add to Cart</button>
                                            </div>
                                        </figure>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



</main>

<%- include('./partials/footer.ejs') %>


<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins/owl.carousel.min.js"></script>
<script src="js/index.js"></script>
<script src="js/menu.js"></script>
<script src="js/cart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>